@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/gabarito/400.css";
@import "@fontsource/orbitron/500.css";

:root {
	--blue: #3ac7ff;
	--dark: #001011;
	--grey: #757780;
	--light: #FFFFFF;
}

.linesTexture {
	background-color: rgba(255, 255, 255, 0);
	opacity: 1;
	background-size: 14px 14px;
	background-image: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 1.4000000000000001px, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 50%);
}

.textGradient {
	background: linear-gradient(137.59deg, #ffffff 20%, rgba(255, 255, 255, .75) 75%);
}

.filterControlsContainer {
	padding: 0 24px;
	justify-content: flex-start;
	display: flex;
	flex-direction: row;
	align-self: stretch;
	align-content: center;
	gap: 24px;
	flex-wrap: wrap-reverse;
}

.filterSearch {
	border: 1px solid var(--dark);
	background: var(--blue);
	/* Drop Shadow */
	box-shadow: -2px 2px 0px 0px var(--dark);
	color: var(--dark);
	font-family: "Gabarito";
}

.filterLabel{
	color:var(--dark);
}

.headingContainer {
	display: flex;
	padding: 24px 24px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}


.title {
	color: var(--blue);
	text-shadow: -3px 3px 0px var(--dark);
	-webkit-text-stroke: 1px var(--dark);
	font-family: Orbitron;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subtitle {
	color: var(--dark);
	text-align: center;
	align-self: stretch;
	font-family: "Gabarito";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.gradient {
	background: linear-gradient(334deg, #00b7ff, var(--blue), var(--light));
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

.bg-solid {
	background-color: var(--blue);
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.pageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	height: 100%;
}

.siteCardWrapper {
	border-radius: 25px;
	border: 1px solid var(--dark);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
		0px 0px var(--dark);
	background-size: cover;
	background-position: center;
	margin: 10px;
	transform-style: preserve-3d;
}

.tiltShadow {
	border-radius: 25px;
	background-color: var(--dark);
	transform: translateZ(-20px);
}

.siteCard {
	border-radius: 25px;
	box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.5), 2px 2px 4px 0px rgba(0, 0, 0, 0.5), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
	display: flex;
	width: 358px;
	max-width: 75vw;
	height: 447.5px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 24px;
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 0);
	opacity: 1;
	background-size: 14px 14px;
	transform-style: preserve-3d;
	/*background-image: repeating-linear-gradient(45deg, #f9f9f9 0, rgba(0,0, 0,1) 0.1px, rgba(182, 158, 158, 0) 0, rgba(236, 25, 25, 0) 50%);*/

}
.siteCardWrapper:hover{
	position: relative;
	z-index: 20;
}

.siteContentContainer {
	display: flex;
	width: -webkit-fill-available;
	width: stretch;
	height: 100px;
	padding: 25px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 5px;
	flex-shrink: 0;
	border-radius: 0px 0px 25px 25px;
	transform-style: preserve-3d;
	background: var(--db-5461, linear-gradient(0deg, #1E1E1E 0%, rgba(30, 30, 30, 0.00) 100%));
}

.siteTitle {
	color: var(--blue);
	font-family: "Gabarito";
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transform: translateZ(23px);
	text-shadow: -2px 2px 0px var(--dark);
}

.siteTagsContainer {
	display: flex;
	align-items: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	transform-style: preserve-3d;
	gap: 6px;
}

.siteContentSpacer {
	display: flex;
	justify-content: space-between;
	transform-style: preserve-3d;
	flex-wrap: wrap;
	align-items: center;
	align-self: stretch;
}

.siteTags {
	color: white;
	font-family: "Gabarito";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	white-space: nowrap;
	text-overflow: ellipsis;

	transform: translateZ(22px);
}

.sitesContainer {
	display: flex;
	padding: 0 24px 24px;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: stretch;
	flex-wrap: wrap;
}

.tagButton {
	border: 1px solid var(--dark);
	border-radius: 36px;
	background: var(--grey);
	display: flex;
	padding: 25px 30px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--dark);
	text-align: center;
	font-family: "Gabarito";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	box-shadow: -2px 2px 0px 0px #001011;
	height: 56px;
}

#filters {
	position: sticky;
	bottom: 24px;
	z-index: 100;
}

@media screen and (max-width: 852px) {
	.title {
		font-size: 40px;
	}

	.siteTitle {
		text-shadow: -1px 1px 0px var(--dark);
	}

	.siteCard {
		height: fit-content;
		width: 95vw;
	}

	.siteContentContainer {
		height: fit-content;
		border-radius: 25px 25px 25px 25px;

	}

	.siteCard,
	.siteTagsContainer,
	.siteTags {
		overflow: hidden;

	}

}